body {
    margin: 24px;
}
img {
    width: 100%;
    border-radius: 8px;
}

h3 {
    margin-left: 16px;
    color: hsl(332, 51%, 32%);
}

.prep-time {
    padding: 8px;
    background-color: hsl(330, 100%, 98%);
}

/*style to increase distance from bullet point to text*/
/*style to increase line high between lis*/